<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header_nav_collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="/images/logo-raster-45px-transparent.png" width="88" height="45">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="header_nav_collapse">
            <ul class="nav navbar-nav">
                <li class="{% if page.name == 'index.md' %}active{% endif %}">
                    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
                </li>
                {% assign sorted_pages = site.pages | sort:"order" %}
                {% for my_page in sorted_pages %}
                    {% if my_page.title %}
                        <li class="{% if page.permalink == my_page.permalink %}active{% endif %}">
                            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://manage.encouragemarketing.com/">Manage</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
