$footer-height: 60px;

.nav-tabs > li > a {
    font-size: 10pt;
}

.navbar-brand {
    padding: 0px;
    padding-left: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;
}

.footer {
    padding-top: 20px;
    text-align: right;
}

img.aligncenter {
  margin: 0 auto;
  display: block;
  margin-bottom: 1em; // for screenshot page
}
